<?xml version='1.0' encoding='utf-8'?>
<!--
Copyright 2013 Natural Solutions

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<widget id="image.in.osm" version="0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ImageInOsm</name>
    <description>Mobile application for collecting pictures of OSM objects.</description>
    <author href="http://naturalsolutions.github.io/ImageInOsm/">Natural Solutions</author>

    <access origin="*" />
    <content src="index.html" />

    <preference name="loglevel" value="DEBUG" />                <!-- All -->
    <preference name="fullscreen" value="true" />               <!-- All -->
    <preference name="orientation" value="portrait" />          <!-- All -->
    <preference name="android-minSdkVersion" value="8" />       <!-- Android -->
    <preference name="android-installLocation" value="auto" />  <!-- Android -->
    <preference name="exit-on-suspend" value="true" />          <!-- iOS -->
    <preference name="webviewbounce" value="true" />            <!-- iOS -->

    <!-- Disable all permissions, then enable specific permissions -->
    <preference name="permissions" value="none" />
    <feature name="http://api.phonegap.com/1.0/camera" />
    <feature name="http://api.phonegap.com/1.0/geolocation" />
    <feature name="http://api.phonegap.com/1.0/file" />
    <feature name="http://api.phonegap.com/1.0/file-transfer" />
    <feature name="http://api.phonegap.com/1.0/inappbrowser" />
</widget>