<?xml version='1.0' encoding='utf-8'?>
<!--
Copyright 2013 Natural Solutions

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<widget id="image.in.osm" version="0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ImageInOsm</name>
    <description>Mobile application for collecting pictures of OSM objects.</description>
    <author href="http://naturalsolutions.github.io/ImageInOsm/">Natural Solutions</author>

    <access origin="http://*.flickr.com" />
    <access origin="http://test.wikipedia.org" />
    <access origin="http://*.openstreetmap.fr" />

    <content src="index.html" />

    <preference name="phonegap-version" value="3.0.0" />        <!-- All -->
    <preference name="loglevel" value="DEBUG" />                <!-- All -->
    <preference name="fullscreen" value="true" />               <!-- All -->
    <preference name="orientation" value="portrait" />          <!-- All -->
    <preference name="android-minSdkVersion" value="8" />       <!-- Android -->
    <preference name="android-installLocation" value="auto" />  <!-- Android -->
    <preference name="exit-on-suspend" value="true" />          <!-- iOS -->
    <preference name="webviewbounce" value="true" />            <!-- iOS -->

    <!-- Disable all permissions, then enable specific permissions -->
    <preference name="permissions" value="none" />
    <feature name="http://api.phonegap.com/1.0/camera" />
    <feature name="http://api.phonegap.com/1.0/geolocation" />
    <feature name="http://api.phonegap.com/1.0/file" />
    <feature name="http://api.phonegap.com/1.0/file-transfer" />
    <feature name="http://api.phonegap.com/1.0/inappbrowser" />

    <!-- Add reference to Cordova pugins for Phonegap Build -->
    <gap:plugin name="org.apache.cordova.camera" version="0.2.3" />
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.2" />
    <gap:plugin name="org.apache.cordova.file" version="0.2.4" />
    <gap:plugin name="org.apache.cordova.file-transfer" version="0.3.3" />
    <gap:plugin name="org.apache.cordova.inappbrowser" version="0.2.3" />

    <icon src="icon.png" gap:role="default" />

    <icon src="icon/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <icon src="icon/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="icon/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="icon/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />

    <icon src="icon/iOS/iosm_29.png" gap:platform="ios" width="29" height="29" />
    <icon src="icon/iOS/iosm_40.png" gap:platform="ios" width="40" height="40" />
    <icon src="icon/iOS/iosm_50.png" gap:platform="ios" width="50" height="50" />
    <icon src="icon/iOS/iosm_57.png" gap:platform="ios" width="57" height="57" />
    <icon src="icon/iOS/iosm_58.png" gap:platform="ios" width="58" height="58" />
    <icon src="icon/iOS/iosm_60.png" gap:platform="ios" width="60" height="60" />
    <icon src="icon/iOS/iosm_72.png" gap:platform="ios" width="72" height="72" />
    <icon src="icon/iOS/iosm_76.png" gap:platform="ios" width="76" height="76" />
    <icon src="icon/iOS/iosm_100.png" gap:platform="ios" width="100" height="100" />
    <icon src="icon/iOS/iosm_114.png" gap:platform="ios" width="114" height="114" />
    <icon src="icon/iOS/iosm_120.png" gap:platform="ios" width="120" height="120" />
    <icon src="icon/iOS/iosm_144.png" gap:platform="ios" width="144" height="144" />
    <icon src="icon/iOS/iosm_152.png" gap:platform="ios" width="152" height="152" />
    <icon src="icon/iOS/iosm_512.png" gap:platform="ios" width="512" height="512" />
    <icon src="icon/iOS/iosm_1024.png" gap:platform="ios" width="1024" height="1024" />

    <icon src="icon/Windows/imageInOSM_110.png" gap:platform="winphone" width="110" height="110" />
    <icon src="icon/Windows/imageInOSM_202.png" gap:platform="winphone" width="202" height="202" />
    <icon src="icon/Windows/imageInOSM_flip_159.png" gap:platform="winphone" width="159" height="159" />
    <icon src="icon/Windows/imageInOSM_flip_336" gap:platform="winphone" width="336" height="336" />
    <icon src="icon/Windows/imageInOSM_wide_691" gap:platform="winphone" width="691" height="691" />
</widget>
